@import "tailwindcss";

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.15s ease-out;
}

.pulse-circle {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    stroke-opacity: 0.9;
    fill-opacity: 0.4;
  }
  50% {
    stroke-opacity: 0.3;
    fill-opacity: 0.15;
  }
  100% {
    stroke-opacity: 0.9;
    fill-opacity: 0.4;
  }
}
